/* header */
header{
    /* margin-bottom: 50px; */
    z-index: 1;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
}
.header-cate{
    background-color: var(--gray-light);
}
.header-mn{
    width: 1375px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-f{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-s{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-mn li{
    font-size: 12px;
    color: var(--gray);
    margin:0 8px;
    padding: 2px 3px;
}
.header-mn li:hover{
    cursor: pointer;
}
.header-mn li:active{
    padding: 2px 3px;
    border: var(--primary);
    border-radius: 2px;
    background-color: var(--primary);
    color: var(--white);
}
.header-main{
    width: 100%;
    height: 65px;
}
.header-nav{
    width: 1375px;
    height: 65px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 35px;
}
#btn_toggle{
    background-color: white;
    border: none;
    font-size: 14px;
    color: var(--gray);
    margin-right: 10px;
    position: relative;
}
#btn_toggle .fab{
    margin-right: 5px;
}
#btn_toggle:hover{
    color: var(--primary);
}
#Toggle{
    display: flex;
    background-color: var(--white);
	top: 10%;
	left: 20%;
	z-index: 2;
    border-radius: 5px;
    position: absolute;
    box-shadow: -1px 4px 3px 0px rgba(0,0,0,0.10);
}
.nav-big li{
    width: 178px;
    height: 46px;
    padding: 18px 14px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-dark);
}
.nav-big li:hover{
    cursor: pointer;
}
.nav-big li:active{
    color: var(--primary);
    background-color: rgb(206, 229, 255);
}
.nav-big{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav-small li:hover{
    cursor: pointer;
}
.nav-small{
    background-color: var(--gray-light);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-small li{
    width: 178px;
    height: 40px;
    padding: 18px 14px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    
}
.header-nav input{
    width: 340px;
    height: 34px;
    border: var(--light) solid 0.2px;
    border-radius: 5px;
    padding: 10px;
}
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-right: 390px;
  }
  .container-1 input#search{
    width: 340px;
    height: 37px;
    border: solid 0.4px var(--light);
    font-size: 10pt;
    float: left;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  
  }
  .container-1 .icon{
    position: absolute;
    top: -7px;
    right: -35px;
    margin: 13px;
    z-index: 1;
    color: #4f5b66;
  }
.board{
    justify-content: flex-end;
    margin-right: 5px;
}
.board-mn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-mn div{
    margin-right: 20px;
}
.board-mn div:last-child{
    margin-right: 0
}
.name{
display: inline-block;
margin-right: 5px;
}
.invi{
    width: 112px;
    height: 36px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}
.circle
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    margin-right: 16px
}
/* study */
.study{
    width: 1375px;
    margin: 0 auto;
    display: flex;
}
#student{
    display: flex;
    align-items: center;
    height: 230px;
}
#student img{
    width: auto;
    height: 144px;
    margin-right: 30px;
}
.user-student{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jindo-nm{
    font-size: 28px;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 25px;
}
.jindo-cl{
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 40px;
}
.jindo-cl span{
    color: var(--primary);
}
.jindo-dt{
    font-size: 13px;
    line-height: 1em;
    color: var(--gray);
}

.all{
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 14px;
}
.p{
    line-height: 14px;
    font-size: 12px;
    color: var(--light);
}
.prog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prog span{
    font-size: 25px;
    color: var(--primary);
}
progress{
    width: 455px;
    height: 22px;
    color: var(--primary);
    margin-right: 15px;
}
#jb{
    width: 455px;
    height: 22px;
}

/* study-nav */
.study-nav{
    width: 100%;
    margin: 0 auto;
    border-top: solid 1px #e8e8e8;
    box-shadow: inset 0 -1px 0 #e8e8e8;
}
.nav-box{
    width: 1375px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
}
.nav ul{
    display: flex;
}
.nav li{
    margin-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav li:hover{
    padding-bottom: 9px;
    cursor: pointer;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}
/* .nav li:active{
    color: var(--primary);
} */
.score span{
    margin-right: 10px;
}
.score i{
    color: var(--yellow);
}

/* contents */

#contents{
    width: 100%;
    height: 100%;
    background-color: var(--gray-light)
}
#content{
    width: 1375px;
    margin: 0 auto;
    padding: 57px 0;
    display: flex;
    justify-content: space-between;
}
.price{
    display: flex;
    margin-top: 30px;
    /* justify-content: center; */
    align-items: center;
}
.sale{
    color: var(--blue_3);
}

.pre-sale{
    margin-left: 5px;
    color: var(--gray);
    text-decoration: line-through black;
    font-size: 10px;
}
.free{
    font-weight: 600;
}
/* class */
#class{
    width: 1375px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#class-box{
    width: 730px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
}
#class-box2{
    width: 385px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
}
#class-box2 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#class-box2 .cla-cont{
    align-items: flex-start;
    flex-direction: column;
}
#class-box2 .cla-number{
    display: block;
    font-size: 15px;
    margin-bottom: 13px;
    color: var(--gray-dark);
}
#class-box2 .cla-mn{
    color: rgb(170, 170, 170)
}

.cla-first{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 27px 35px;
    border-bottom: solid 1px #e8e8e8;
    font-weight: 700;
}
.cla-first:last-child{
    font-size: 13px;
}

#class-box ul{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}
.cla-sub-list{
    display: none;
}
.cla-cont{
    padding: 23px 35px;
    border-bottom: solid 1px #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-dark);
    font-size: 17px;
}
.cla-cont:hover{
    cursor: pointer;
}
.cla-cont span:last-child{
    font-size: 12px;
}
.cla-mn{
    flex-grow: 2;
}
.cla-number{
    display: block;
    margin-right: 20px;
    color: var(--primary);
}
.cla-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    height: 52px;
    padding: 13px 35px;
    border-bottom: 1px solid #e8e8e8;
    background-color: var(--gray-light);
    cursor: pointer;
}
.cla-file{
    margin-left: 3px;
    margin-right: 20px;
}
.cla-name{
    margin-right: 7px;
}
.video{
    flex-grow: 2;
}
.cla-watched{
    display: none;
}
.cla-watched.active{
    display: block;
}
.cla-date{
    font-size: 12px;
    color: var(--light);
    margin-right: 10px;
}
.cla-score{
    color: var(--primary);
}
.fa-check-circle{
    margin-left: 5px;
    color: var(--primary);

}
.cla-show{
    display: block;
}

.help{
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--gray-light);
}
.help span{
    font-size: 13px;
    margin-right: 14px;
    color: var(--light);
}
.help a{
    color: var(--info);
}

.footer-info{
    width: 100%;
    height: 175px;
    border-bottom: 1px solid var(--gray-light);
}
.foo-t{
    width: 1375px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.sublogo{
    flex-grow: 0;
    margin-right: 50px;
}
.sns{
    display: flex;
    flex-grow: 1;
    width: 23px;
    height: 23px;
}
.sns i{
    margin-right: 25px;
    color: var(--light);
}
.sns i:hover{
    cursor: pointer;
    color: violet;
}
.foo-lan,.foo-info p{
    font-size: 14px;
    color: var(--light);
    flex-grow: 1;
}
.foo-lan span{
    display: inline-block;
    margin-bottom: 10px;
}
.foo-lan span:first-child:after,
.foo-lan span:nth-child(2):after{
    content: "|";
    padding: 10px;
}
.footer-sub{
    width: 1375px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--light);
}
.foo-mini {
    display: flex;
}
.foo-mini li{
    display: block;
    margin-right: 20px;
}
.foo-mini li:last-child{
    margin-right: 0;
}
